################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/lkartladu/v16/Server/sqlite3
/lkartladu/bin/Debug/Ladu.mdf
/lkartladu/Ladu.mdf
/lkartladu/Ladu_log.ldf
